@import "tailwindcss";


@theme {
  --breakpoint-xs: 480px;
  --font-inter: "Inter var", sans-serif;

  --shadow-card: 0 0 1px 0 rgba(189,192,207,0.06),
                 0 10px 16px -1px rgba(189,192,207,0.2);

  --shadow-cardhover: 0 0 1px 0 rgba(189,192,207,0.06),
                      0 10px 16px -1px rgba(189,192,207,0.4);
}

* {
    font-family: 'Inter', sans-serif;
}

@media screen and (min-width: 480px) {
    .card:nth-child(7n + 1) {
        grid-column: auto/span 2;
        grid-row: auto/span 2;
    }
}

.prompt::-webkit-scrollbar {
    width: 5px;
}
 
.prompt::-webkit-scrollbar-thumb {
  background-color: #666e75;
  border-radius: 5px;
}